
.header {
    background-color: #0B4F6C;
    display: flex;
    justify-content: center;
}

.left-header {
    display: flex;
    position: relative;
    left: -190px;
    order: 1;
}

.logo {
    height: 160px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.headline {
    position: relative;
    top: 30%;
    color: #c3cdd1;

}

.right-header {
    position: relative;
    top: 31px;
    order: 2;
}

.btn-pos {
    margin-top:15%;
}


/* Home Page */

.home {
    display: flex;
    position: absolute;
    top: 50%;
    left: 20%;
}

.home-text {
    position: relative;
}

.background-dark {
    background-color: #1f2223;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.background-grid {
    opacity: 0.3;
    overflow: hidden;
    position: relative;
}

.btn {
    padding: 10px!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
    margin-left: 30px!important;
}

/* Add page */

.add {
    position: relative;
}